resources/genomes
logs/
.snakemake/
.DS_Store
Thumbs.db
resources/probes_by_sample/
results/
results_liverwort/
results_hornwort/
results_moss/*
!results_moss/07_phylogeny/All
!results_moss/bryo_synt/07_phylogeny
!results_moss/hypnales/07_phylogeny
run_uvfinder.sh
